@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fffdfd;
}

main {
    #filterPopup {
        width: 100%;
        display: hidden;
        background-color: #333;
        opacity: 0.1;
    }

    width: 100%;

    .card {
        width: 100%;
        height: 100vh;

        .navbar {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 2rem;
        }

        .content {
            // margin-top: 20px;
            display: flex;

            .left {
                width: 20%;
                height: 60vh;
                align-items: center;

                .font-grid {

                    padding: 0rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 0.7rem;

                    h5 {
                        text-align: right;
                        font-size: 1.3rem;
                        font-weight: 400;
                    }

                    .font-icon {
                        display: flex;
                        align-items: flex-end;
                        font-size: 1.5rem;
                        gap: 1rem;
                        cursor: pointer;
                        justify-content: flex-end;
                    }
                }

                #left-font1 {
                    font-family: "Schibsted Grotesk", sans-serif;
                    padding-top: 7rem;

                }

                #left-font2 {
                    font-family: 'Laila', serif;
                    padding-top: 2rem;
                }

                #left-font3 {
                    font-family: 'Laila', serif;
                    padding-top: 3rem;
                }
            }

            .right {
                background-color: #1b1a1a;
                width: 80%;
                padding: 1rem;
                height: 89vh;

                .generate-grid {
                    display: flex;
                    width: 25rem;
                    align-items: center;
                    gap: 1.8rem;

                    .menu {
                        font-size: 1.3rem;
                        cursor: pointer;
                        background-color: #323232;
                        border-radius: 50%;
                        padding: 0.6rem 0.7rem;
                        margin: 0.2rem;
                    }

                    .generate {
                        button {
                            padding: 0.6rem 2.3rem;
                            background-color: #323232;
                            border: none;
                            border-radius: 2rem;
                            color: #fffdfd;
                            font-size: 1rem;
                            cursor: pointer;
                        }
                    }


                }

                .info {
                    margin-top: 2rem;

                    #h1 {
                        width: 80%;
                        height: 50px;
                        min-height: 90px; // starting height
                        background: transparent;
                        color: white;
                        font-size: 2rem;
                        line-height: 1.4;
                        padding: 0.3rem;
                        outline: none;
                        resize: none; // stops manual resize
                        overflow: hidden; // 
                        transition: all 0.2s ease;

                        border: none;

                        &.no-border {
                            border-color: transparent;
                        }
                    }

                    #h2 {
                        width: 50%;
                        height: 30px;
                        min-height: 90px; // starting height
                        background: transparent;
                        color: white;
                        font-size: 2rem;
                        line-height: 1.4;
                        padding: 0.3rem;
                        outline: none;
                        resize: none; // stops manual resize
                        overflow: hidden; // 
                        transition: all 0.2s ease;

                        border: none;

                        &.no-border {
                            border-color: transparent;
                        }
                    }

                    #h3 {
                        width: 80%;
                        min-height: 200px; // starting height
                        background: transparent;
                        color: white;
                        font-size: 1.5rem;
                        line-height: 1.3;
                        padding: 0.3rem;
                        outline: none;
                        resize: none; // stops manual resize
                        overflow: hidden; // 
                        transition: all 0.2s ease;

                        border: none;

                        &.no-border {
                            border-color: transparent;
                        }
                    }





                }
            }
        }
    }
}