@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: #fffdfd;
}

main {
  width: 100%;
}
main #filterPopup {
  width: 100%;
  display: hidden;
  background-color: #333;
  opacity: 0.1;
}
main .card {
  width: 100%;
  height: 100vh;
}
main .card .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}
main .card .content {
  display: flex;
}
main .card .content .left {
  width: 20%;
  height: 60vh;
  align-items: center;
}
main .card .content .left .font-grid {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.7rem;
}
main .card .content .left .font-grid h5 {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 400;
}
main .card .content .left .font-grid .font-icon {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  gap: 1rem;
  cursor: pointer;
  justify-content: flex-end;
}
main .card .content .left #left-font1 {
  font-family: "Schibsted Grotesk", sans-serif;
  padding-top: 7rem;
}
main .card .content .left #left-font2 {
  font-family: "Laila", serif;
  padding-top: 2rem;
}
main .card .content .left #left-font3 {
  font-family: "Laila", serif;
  padding-top: 3rem;
}
main .card .content .right {
  background-color: #1b1a1a;
  width: 80%;
  padding: 1rem;
  height: 89vh;
}
main .card .content .right .generate-grid {
  display: flex;
  width: 25rem;
  align-items: center;
  gap: 1.8rem;
}
main .card .content .right .generate-grid .menu {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #323232;
  border-radius: 50%;
  padding: 0.6rem 0.7rem;
  margin: 0.2rem;
}
main .card .content .right .generate-grid .generate button {
  padding: 0.6rem 2.3rem;
  background-color: #323232;
  border: none;
  border-radius: 2rem;
  color: #fffdfd;
  font-size: 1rem;
  cursor: pointer;
}
main .card .content .right .info {
  margin-top: 2rem;
}
main .card .content .right .info #h1 {
  width: 80%;
  height: 50px;
  min-height: 90px;
  background: transparent;
  color: white;
  font-size: 2rem;
  line-height: 1.4;
  padding: 0.3rem;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: all 0.2s ease;
  border: none;
}
main .card .content .right .info #h1.no-border {
  border-color: transparent;
}
main .card .content .right .info #h2 {
  width: 50%;
  height: 30px;
  min-height: 90px;
  background: transparent;
  color: white;
  font-size: 2rem;
  line-height: 1.4;
  padding: 0.3rem;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: all 0.2s ease;
  border: none;
}
main .card .content .right .info #h2.no-border {
  border-color: transparent;
}
main .card .content .right .info #h3 {
  width: 80%;
  min-height: 200px;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 0.3rem;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: all 0.2s ease;
  border: none;
}
main .card .content .right .info #h3.no-border {
  border-color: transparent;
}/*# sourceMappingURL=style.css.map */