* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fffdfd;
}

main {
    width: 100%;
    padding: 20px;

    .card {
        width: 100%;
        height: 100vh;

        .navbar {

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .content {
            margin-top: 20px;
            display: flex;

            .left {
                width: 20%;
            }

            .right {
                width: 80%;

            }
        }
    }
}